body{
	padding:50px;
}
.nav, .pagination, .carousel, .panel-title a {
	cursor: pointer;
}
.selected-experiences-count{
	position:fixed;
	top:10px;
	left:10px;
	z-index:1000;
}
.selected-experiences-count .badge{
	color:white;
	background-color: rgba(0,255,0,0.6);
	font-size:2em;
}
.experiences-count{
	position:fixed;
	top:10px;
	right:10px;
	z-index:1000;
}
.experiences-count .badge{
	color:white;
	background-color: rgba(255,0,0,0.6);
	font-size:2em;
}
.experiences{
	max-height:800px;
	overflow:auto;
}
.experiences .badge{
	font-size:0.8em;
	color:white;
	background-color:blue;
}
.experiences .glyphicon-ok{
	font-size:0.8em;
	color:green;
	padding-left:5px;
}
.checklist{
	max-height:300px;
	overflow:auto;
}
.checklist > div{
	padding-top:2px;
	margin-top:2px;
	border-top:1px solid #ddd;
}
.glyphicon-heart,.glyphicon-heart-empty{
	color:red;
	cursor:pointer;
}
.checklist .glyphicon-heart,.checklist .glyphicon-heart-empty{
	font-size:1.5em;
}
.mappings .btn.btn-default{
	float:right;
}
.experiences-pane{
	position: relative;
}
.experiences-pane .loading{
	position:absolute;
	top:0;
	left:0;
	z-index:500;
	width:100%;
	height:100%;
	color:white;
	text-align:center;
	padding-top:30px;
	border-radius:10px;
}
.experiences-pane .loading img{
	width:50%;
}