<html>
	<head>
	<link rel="stylesheet" href="public/css/app.css">
	</head>
	<body>
		<div ng-app="app" ng-cloak>
			<div ng-controller="main">
				<div>Refresh Disney Data</div>
				<div>
					<button type="button" class="btn btn-success" ng-click="refreshDD()" ng-disabled="refreshingData">{{refreshingData ? 'Refreshing...' : 'Refresh'}}</button>
				</div>
			</div>
		</div>
		<script src="public/js/angular.min.js"></script>
		<script src="public/js/app.js"></script>
	</body>
</html>